.container1{
    color: rgb(254, 253, 253);
    height: 4vh;
    
}
.id{
    position: absolute;
    margin-left: -0.5rem;
    /* margin-bottom: -1rem; */
    z-index: 4;
    background-color: rgb(101, 102, 103);
    border: none;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
.title{
    font-weight: bold;
    margin-top: 2rem;
    font-size: 18px;
    margin-bottom: 1rem;
}
.title-text{
    height: 13rem;
    background-color: rgb(43, 53, 50);
    opacity: 0.8;
    padding: 1rem;
}
.title-text:hover{
    box-shadow:  5px 10px #888888;
}