

.Home-section{
  animation: home 1s;
  animation-fill-mode:both;
}

@keyframes home {
  from{
   transform: translateY(10rem);
  }
  to{
   transform: translateY(0rem);
  }
}


html{
  scroll-behavior: smooth;
}

