.heading-ourworks {
  text-align: center;
  margin: 30px 0;
  width: 100%;
  color: white;
  transition: 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 350px) {
  .heading-ourworks {
    margin: 1rem 0;
    font-size: 2rem;
    width: 25rem;
  }
}
